---
layout: page
title: "Whats on"
permalink: /whats-on/
order: 5
---









<strong>Check out some of the regular activities that take place in the village hall. Click on the ones that interest you for details of when they happen and how to join in:<strong>


{% for category in site.categories %}
  {% capture cat %}{{ category | first }}{% endcapture %}
  <h2 id="{{cat}}">{{ cat | capitalize }}</h2>
  {% for desc in site.descriptions %}
    {% if desc.cat == cat %}
      <p class="desc"><em>{{ desc.desc }}</em></p>
    {% endif %}
  {% endfor %}
  <ul class="posts-list">
  {% for post in site.categories[cat] %}
    <li>
      <strong>
        <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </strong>
    </li>
  {% endfor %}
  </ul>
  {% if forloop.last == false %}<hr>{% endif %}
{% endfor %}
<br>

<strong>Or scroll though our calendar to see what's on and/or check the availability of the village hall for your event.<strong>


<a href="https://calendar.google.com/calendar/embed?src=jebq0oq6aolb2vtnd7ebtmsn9k%40group.calendar.google.com&ctz=Europe%2FLondon" style="border: 0" width="800" height="600" frameborder="0" scrolling="no">Click here to view the calendar </a>




